<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Login">
		<setting id="dsusername" type="text" label="Username" default="" visible="true"/>
		<setting id="dspassword" type="text"label="Password" default="" visible="true"/>
	</category>
	<category label="View">
		<setting id="auto-view" type="bool" label="Enable Auto View" default="true"/>
		<setting id="MAIN" type="number" label="MAIN" default="500" enable="!eq(-1,false)"/>
	</category>
</settings>