<settings>

    <category label="Add RobinHood Source">
    <setting id="new_url_source" type="text" label="Add URL" default="https://raw.githubusercontent.com/hmemar/IPTV-M3U-Master-List/master/RH2.0/RH2.0-Menu.xml" visible="eq(-2,1)"/>
    <setting type="sep" />
    <setting type="action" label="Click Here to add source ( this is required for the first time set-up )" option="close" action="RunPlugin(plugin://plugin.video.RobinHood-PPL-List/?mode=7)" />
    <setting type="sep" />
    <setting id="save_location" type="folder"  label="Select a download location." default=""/>
  </category>
  </settings>