<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
       <category label="PIA Login">
		<setting id="piauser" type="text" label="Username" default="" visible="true"/>
		<setting id="piapass" type="text"label="Password" default="" visible="true" option="hidden" />
   </category>
</settings>