<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Sports Mania">
		<setting id="snusername" type="text" label="Sports Mania Username" default="" visible="true"/>
		<setting id="snpassword" type="text"label="Sports Mania Password" default="" visible="true" option="hidden" />
		<setting label="Visit http://sportsmania.eu/register.php to signup for your account" type="lsep" />
	</category>
</settings>