<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="HQZone Login">
		<setting id="hqusername" type="text" label="HQZone Username" default="" visible="true"/>
		<setting id="hqpassword" type="text"label="HQZone Password" default="" visible="true" option="hidden" />
		<setting label="Visit HQZone.tv to signup for your account - Follow us on Twitter @HQZoneTV" type="lsep" />
	</category>
</settings>